.sidenav-container {
    /* display: inline-block; */
    position: sticky;
    top: 0;
    bottom: 0;
    color: #fff;
    background-color: #202124;
    min-height: 100vh;
    height: 100%;
    min-width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navigator {
    margin: 2rem 0;
}